<!-- current path : "/item" -->
<%-include("partials/header", {
	pageTitle: "Item Page", //Title of Page
	pageFavicon: "", //href Link to favicon
	cssFiles: ["../css/item.css"] //href link to css files
})-%>


<h1>Name of Item : <%=item.name%></h1>
<h1>Price Rs. :<%=item.price%></h1>
<p class="item-description"><%=item.description%></p>


<%-include("partials/footer", {
	jsFiles: [] //Javacsript Files
})-%>
